/* Basic reset and styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Keeps the background fixed while scrolling */
    color: #ffffff; /* Change text color to ensure readability */
    /* Other styles for body */
}
h2 {
    text-align: center;
    color: white;
}

form {
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
}

label {
    display: block;
    margin-bottom: 5px;
}



input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    
}
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.login, .signup{
    text-align: center;
    color: #fff;
}

.login-flash, .signup-flash{
    color: white;
    text-align: center;
}