/* Basic reset and styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/static/SEprojpics/maquinas-de-peso-integrado.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #ffffff;
}

h2 {
    text-align: center;
    color: white;
}

/* Flash message container */
.login-flash {
    margin-top: 10px;
    padding: 12px 20px;
    width: 50%;
    background-color: rgba(255, 0, 0, 0.5); 
    border-radius: 15px;
    text-align: center;
    color: white;
    border: 1px solid rgba(255, 0, 0, 0.7);
    margin-left: auto;
    margin-right: auto;
    animation: fadeIn 5s forwards; 
}

/* Welcome message */
.welcome {
    font-size: 1.2rem;
    color: #4CAF50; 
    margin-bottom: 10px;
}

/* Flashed messages list */
.login-flash ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.login-flash li {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 5px;
}

/* Input and form styles */
form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Links */
a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    outline: 2px dashed #ffffff;
    outline-offset: 4px;
}

/* Text alignment */
.login,
.signup {
    text-align: center;
    color: #ffffff;
}

/* Fade-in animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Apply fade-in effect */
form,
.login {
    opacity: 0;
    animation: fadeIn 2s ease-out forwards;
    animation-delay: 1s;
}

/* Class for fade-in elements */
.fade-in {
    animation: fadeIn 2s ease-in 1;
}
