body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #312e2e;
    background-image: url('/static/SEprojpics/track.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #007bff;
}

form {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
}

form button:hover {
    background-color: #0056b3;
}
 /* deletion  */
form button {
    background-color: #ff4d4d;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

form button:hover {
    background-color: #ff0000;
    transform: scale(1.05);
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}
/* menu buttons */
.menu-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

.menu-buttons button {
    background-color: rgb(0, 110, 255);
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

.menu-buttons button:hover {
    background-color: #0056b3;
    opacity: 0.9;
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 110, 255, 0.5);
}



table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #007bff;
    color: white;
}
