<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/aboutus.css">
    <title>Fitness Tracker</title>
</head>
<body>
    <div class="container">
        <center><h2 class="mt-5 mb-4 text-center">Fitness tracker</h2></center>

        <div class="menu-buttons" style="margin-top: 50px;">
            <button class="button1" onclick="window.location.href='/'">Logout</button>
            <button class="button2" onclick="window.location.href='/workout_form'">New</button>
            <button class="button3" onclick="window.location.href='/logged_workouts'">View Logs</button>
            <button class="button4" onclick="window.location.href='/About_Us'">About Us</button>
        </div>
    </div>

    <br>
    <div class="About-Us" style="width: 50%; float:left">
        <h2>About us</h2>
        <p>
            Welcome to our webiste! We are glad that you chose to take time out of your day to use our 
            website. Our goal here at Stupid Simple Workout Logger is to help people keep track of their workouts. We
            know it is important to workout and to keep track of what you do at the gym. It helps to keep 
            you to keep on pace for your goal. 
        </p>
    </div>
    <div style="width: 50%; float:right;">
        <center><img style="width: 50%; height: 25%; margin-top: 120px;" src="/static/pictures/weight.png"</center>

    </div>
</body>
<body>
    <div style= "float: right; margin-top: 80px;">
        <h2><center>Tips for Working out</center></h2>
        <p> 
            These are some essential tips that will ensure you to have a safe and enjoyable fitness journey.
        </p>
    </div>
    <div style="width: 50%; float: left;  margin-top: 120px;">
        <h3><center>Drink Water</center></h3>
        <p1>
            Drinking plenty of water will help you stay hydrated and in good health throughout your workout. 
            Not drinking enough water can not only lead to dehydration, but it can lead it fatigue, dizziness, 
            and overheating.
        </p1>
    </div>
    <div style="width:50%; float:right">
        <center><img style="width:50%; margin-top: 125px; height: 25%" src="/static/pictures/water.jpg"></center>
    </div>
    <div style="width:50%; float: left">
        <center><img style="width:50%; margin-top: 120px; height:25%; " src = "/static/pictures/Stretching.png"></center>
    </div>
    <div style="width:50%; float: right; margin-top: 70px;">
        <h3><center>Stretching</center></h3>
        <p1>
            It is highly important to stretch before a workout for many reasons. It helps activate the 
            muscles and lets the blood flow through them. Stretching before working out also helps prevent 
            an injury.
        </p1>
    </div>
    <div style="width: 50%; margin-top: 100px; clear: both; float: left;">
        <h3><center>Rest and Recover</center></h3>
        <p1>
            It is important to rest after workouts because it helps the body to recover. During rest,
            the muscles only recover but they also grow bigger and stronger. Getting enough rest will help prevent
            injury, and maximizes performance during workouts.
        </p1>
    </div>
    <div style="width: 50%; float: right; margin-top: 100px;">
        <center><img style="width: 50%; height: 25%;" src="/static/pictures/sleeping.png"></center>
    </div>
    <div style="width:50%; clear:both; float:left;">
        <center><img style="width:50%; height: 25%; margin-top: 120px;" src="/static/pictures/food.jpg"></center>
    </div>
    <div style="width: 50%; float: right; margin-top: 120px;">
        <h3><center>Healthy Food</center></h3>
        <p1>
            Eating healthy is imporant for having a good workout. It will give our body nutrients and energy
            to give you the best performance at the gym. Having a good diet will help you stay in shape and
            will produce muscle growth and better endurance.
        </p1>
    </div>
</body>
</html>