<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/login_signup.css">
    <title>Fitness Tracker</title>
</head>
<body>
    <div class="container"> 
        <h2>Login</h2>
        <div class="login-flash">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="users">
            <form method="post" action="{{ url_for('login') }}">
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username"><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password"><br><br>
                <input type="submit" value="Login">
            </form>
        </div>
        <div class="signup">
            <p>Don't have an account? <a href="{{ url_for('signup') }}">Sign Up</a></p>
        </div>
    </div>
    
</body>
</html>
